#editor, #editor-two {
    margin: 10px 0;
    height: 300px;
    border-radius: 3px;
}

.navbar {
    margin-bottom: 50px;
}

.page-footer {
    margin-top: 50px;
}

.card {
    margin-bottom: 25px;
}

#btnSubmit {
    margin-top: 10px;
}
